:root{
    --primary-color: #DE3163;
    --secondary-color: #383838;
    --background-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 20px;
}

/*Header styles begin*/
/* also re-used some declarations for footer section*/
header {
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--background-color);
}
header h1{
    font-size: 40px;
    align-self: center;
    justify-content: center;
}
header nav ul, footer nav ul {
    list-style: none;
    font-size: 25px;
}

header nav ul li, footer nav ul li {
    display: inline-block;
    padding: 40px;
}

header a, footer a {
    text-decoration: none;
    color: var(--primary-color);
}
header a:hover, footer a:hover{
    color: pink;
}

/*image bar*/
.image {
    background-image: url(../images/backsplash.jpeg);
    background-size: cover;
    background-position: bottom 35% right 45%;
    height: 500px;
}

.image h2 {
    position: absolute;
    font-size: 70px;
    color: var(--primary-color);
    top: 500px;
    right: 100px;
    background-color: var(--background-color);
    letter-spacing: 1px;
    }

/*about me section*/
.container-1 img {
    width: 500px;
    height: 500px;
    padding: 50px;
}

.container-1 h2 {
    color: var(--primary-color);
    padding-left: 50px;
}

.container-1 p {
    align-self: center;
} 

/* work example section*/
.container-3 {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    justify-content: flex-start;
    color: var(--primary-color);
    padding-left: 50px;
}
.other img {
    height: 500px;
    width: auto;
    max-width: fit-content;
}
.surf-report img {
    height: 500px;
    width: 1530px;
}
h3 {
    position: absolute;
    font-size: 25px;
    color: var(--secondary-color);
    font-weight:bold;
    background-color: var(--primary-color);
    background-size: cover;
}
h4 {
    position: absolute;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    background-size: cover;
}

/* positioning images and texts for the work section */
.surf-report h3 {
    left:50px;
    bottom:50px;
}
.surf-report h4 {
    left: 50px;
    bottom: 20px;
}
.led-wall h3 {
    left: 50px;
    bottom: 50px;
}
.led-wall h4 {
    left: 50px;
    bottom: 20px;
}
.calculator h3 {
    left: 825px;
    bottom: 50px;
}
.calculator h4 {
    left: 825px;
    bottom: 20px;
}
.pastel-puzzle h3 {
    left: 50px;
    bottom: 50px;
}
.pastel-puzzle h4 {
    left: 50px;
    bottom: 20px;
}
.run-buddy h3 {
    left: 825px;
    bottom: 50px;
}
.run-buddy h4 {
    left: 825px;
    bottom: 20px;
} 
.container-2 img:hover {
    opacity: 50%;
    transform: scale(1.05);
} 

/* Footer section - remainder with header */
footer {
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--background-color);
}
footer h2 {
    align-self: center;
}
@media screen and (max-width: 768px) {
    /*header section*/
    header {
        padding: 0;
        position: relative;
    }    
    header h1 {
        width: 100%;
        text-align: left;
        padding: 0;
        font-size:30px;
    }
    header nav ul {
        width: 100%;
        font-size: 13px;
    }
    header nav ul li, footer nav ul li {
        padding: 5px;
    }
    /* image bar */
    .image {
        height: 100px;
    }
    .image h2 {
        font-size: 15px;
        top: 100px;
        right: 450px;
    }
    /*about me section*/
    .container-1 {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        font-size: 80%;
        justify-content: space-evenly;
    }
    .container-1 p {
        padding: 0;
        width: 50%;
        text-align: left;
        align-self: flex-start;
    }
    .container-1 h2 {
        font-size: 20px;
        padding: 0px;
        justify-content: flex-start;
        border-right: none;
    }
    .container-1 img {
        height: 300px;
        width: 200px;
    }

    /*work section*/
    .container-4 {
        max-width: 400px;
        justify-content: flex-start;
    }
    .container-3 {
        font-size: 20px;
        border-right: none;
        padding: 0px;
        border-bottom: solid;
    }
    .container-4 h3, .container-4 h4 {
        left:20px;
        font-size: 70%;
    }
    .other img, .surf-report img {
        width: 400px;
        margin-left: 100px;
        justify-content: end;
    }
    .container-2 {
        flex-direction: column;
        padding: 0;
    }
    .surf-report h4 {
        bottom: 50px;
        left: 50px;
    }
    .surf-report h3 {
        bottom: 30px;
    }
    .led-wall h3 {
        bottom: 600px;
    }
    .led-wall h4 {
        bottom: 585px;
    }
    .calculator h3 {
        bottom: 50px;
    }
    .calculator h4 {
        bottom: 35px;
    }
   .pastel-puzzle h3 {
       bottom: 600px;
   }
   .pastel-puzzle h4 {
       bottom: 585px;
   }
    footer h2 {
        text-align: left;
        width: 100%;
        font-size: 20px;
    }
    footer nav ul {
        font-size: 13px;
    }
}