:root{
    --primary-color: #DE3163;
    --secondary-color: #383838;
    --background-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    size: 30px;
}


/*Header styles begin*/
/* also re-used some declarations for footer section*/
header {
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 2vw;
    background-color: var(--background-color);
}

header nav ul, footer nav ul {
    list-style: none;
    font-size: 1.6vw;
}

header nav ul li, footer nav ul li {
    display: inline-block;
    padding: 40px;
}

header a, footer a {
    text-decoration: none;
    color: var(--primary-color);
}
header a:hover, footer a:hover{
    color: pink;
}

/*image bar*/
.image {
    background-image: url(../images/backsplash.jpeg);
    background-size: cover;
    background-position: bottom 35% right 45%;
    height: 500px;
}

.welcome {
    position: absolute;
    font-size: 4vw;
    color: var(--primary-color);
    top: 500px;
    right: 100px;
    background-color: var(--background-color);
    letter-spacing: 1px;
    }

/*about me section*/
.container-1 {
    display: flex;
    justify-content: space-between;
}

.container-1 img {
    width: 500px;
    height: 750px;
    margin: 50px 100px;
    border: solid 1px var(--primary-color);
}

.container-1 h2 {
    color: var(--primary-color);
    align-self: left;
    font-size: 50px;
    padding: 100px;
    width: 1500px;
    border-right: solid 5px;
}

.container-1 p {
    font-size: 30px;
    align-self: center;
}

.titles h2 {
    display: flex;
    color: var(--primary-color);
    text-align: left;
    font-size: 50px;
    padding-right: 10px;
    margin-top: 25px;
    width: 500px;
    right: 0px;
    border-right: solid;
}

/* work example section*/
.container-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
;
}
h3 {
    font-size: 35px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    background-size: cover;
}
h4 {
    font-size: 25px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    background-size: cover;
}
.surf-report {
    flex-basis: calc(100% - 30px);
}
.surf-report img {
    width: 1650px;
    height: 300px;
    object-fit: cover;
    margin-left: 650px;
}
.led-wall img, .calculator img, .pastel-puzzle img, .run-buddy img {
    width: 800px;
    height: 300px;
    object-fit: cover;
    padding: 25px;
}
.container-2 img:hover {
    opacity: 50%;
    transform: scale(1.01);
}
/* Footer section - remainder with header */
footer {
color: var(--primary-color);
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-self: center;
font-size: 2vw;
background-color: var(--background-color);
padding: 10px;
}